<%- include('../partials/header') %>

<div class="container-fluid">

  <section class="fotorol-list row justify-content-center">

      <div class="col-sm-8">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <strong><%= post.username %></strong>
            <a class="ml-auto mr-3" href="/posts/<%= post.id %>/edit">Edit</a>
            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete">
            </form>
          </div>
          <a href="/posts/<%= post.id %>">
            <img class="card-img" src="<%= post.photo_path %>">
          </a>
          <div class="card-body">
            <p class="card-text">
              <%= post.content %>
            </p>
          </div>
        </div>
      </div>

  </section>

</div>

<%- include('../partials/footer') %>
