<%- include('../partials/header') %>
<section class="fotorol-list row justify-content-center">

    <div class="col-sm-8">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <strong><%= post.username %></strong>
          <a class="ml-auto mr-3" href="/posts/<%= post.id %>/edit">Edit</a>
          <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </div>
        <a href="/posts/<%= post.id %>">
          <img class="card-img" src="<%= post.photo_path %>">
        </a>
        <div class="card-body">
          <p class="card-text">
            <%= post.content %>
          </p>

          <ul class="list-unstyled">
            <% for (let comment of comments) { %>
              <li class="media">
                <div class="media-body">
                  <%= comment.content %>
                </div>
              </li>
            <% } %>
          </ul>

          <form action="/posts/<%= post.id %>/comments" method="POST">
            <div class="form-group">
              <textarea
              class="form-control"
              rows="3"
              name="content"
              placeholder="Add a comment..."
              ></textarea>
            </div>
            <input
            class="btn btn-outline-primary align-self-end"
            type="submit"
            value="Submit"
            >
          </form>
        </div>
      </div>
    </div>

</section>
<%- include('../partials/footer') %>
